:root {
  /* Logoból szedtem ki */
  --primary-color: #009040;
  --secondary-color: #0193de;
  --terciary-color: #ab5524;
  /* tutorial feladatokból szedtem*/
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

p {
  margin: 0.6rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  width: 100%;
}
/* Utility Classes */
/* Text colors */
.text-primary {
  color: #28a745;
}
.text-secondary {
  color: #0284d0;
}
/* Button */
.btn {
  display: inline-block;
  color: #fff;
  background: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
}
.btn2{
  color: #fff;
  background: #28a745;
  display: inline-block;
}
.btn:hover {
  opacity: 0.9;
}
.btn-primary,
.bg-primary {
  color: #fff;
  background-color: #28a745;
}
.btn-secondary,
.bg-secondary {
  color: #fff;
  background-color: #0284d0;
}
.btn-dark,
.bg-dark {
  color: #fff;
  background-color: #333;
}
.btn-light,
.bg-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-outline {
  border: 1px solid #fff;
  background: transparent;
}
/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.flex-items > div {
  padding: 20px;
}
/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;7
}
.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}
.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}
.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}
.flex-columns p {
  margin: 20px 0;
}
/* Section header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}
.section-padding {
  padding: 20px 20px 40px;
}
/* Flex grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
/* Navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #333;
  opacity: 0.9;
  height: 70px;
  width: 100%;
  padding: 0 30px;
  position: fixed;
  top: 0px;
  transition: 0.5s;
}
.navbar.top {
  background: transparent;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: var(--primary-color) 2px solid;
}
.navbar .logo {
  width: 50px;
}

/* Landing page */
.hero {
  background: url(/img/malomkovovn-at_edited.jpg) no-repeat center center/cover;
  height: 100vh;
  /* background-position: ; */
  color: #fff;
  /* Relative? */
  position: relative;
}
.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}
.hero .content h1 {
  font-size: 2.5rem;
}
.hero .content p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 20px 0 30px;
  text-align: center;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.hero * {
  z-index: 10;
}
.hero.blog {
  background: url(../images/home/blog.jpg) no-repeat center center/cover;
  height: 30vh;
}
/* Icons */
.icons {
  padding: 30px;
}
.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}
.cases img:hover {
  opacity: 0.7;
}
.team img {
  border-radius: 50%;
}
/* Callback form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}
.callback-form label {
  display: block;
  margin-bottom: 15px;
}
.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: 1px solid #f5f5f5;
}
.callback-form input:focus {
  outline-color: #28a745;
}
.callback-form .btn {
  margin-top: 20px;
  padding: 12px 0;
}
/* Post */
.post {
  padding: 50px 30px;
}
.post h2 {
  font-size: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: #ccc solid 1px;
}
.post .meta {
  margin-bottom: 30px;
}
.post img {
  display: block;
  border-radius: 50%;
  width: 300px;
  margin: 0 auto 30px;
}
/* Footer */
.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #28a745;
}
.footer .social > * {
  margin-right: 30px;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }
  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  .flex-items {
    flex-direction: column;
  }
  .flex-columns .column {
    flex: 100%;
    max-width: 100%;
  }
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }
  .team img {
    width: 70%;
  }
}
